/* 
MDL EDITS - I KNOW ITS NOT GOOD 
AND I HAVE NO IDEA WHAT IM DOING!
HOPE SOMEONE TRANSLATE THIS TO GIVE IT READABILITY
AND USE SOME GOOD PATTERN
*/
body{
    background: linear-gradient(to top, #486674 , #bed5e0);
}



.mdl-layout__container {
    width: 94%;
    height: 93%;
    margin: 1.5% 3%;
    min-height: 500px;
    background-color: #fff;
}

@media screen and (max-width: 1200px){
    .mdl-layout__container{
        width: 100%;
        height: 100%;
        margin: 0;
        min-height: 100%;
    }
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) >.mdl-layout__content {
    margin-left: 383px;
}

.mdl-layout__content {
    background-image: url("../img/webschool-pattern.png");
    background-size: 10%;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__drawer {
    width: 383px;
}

.mdl-layout__drawer{
    background-color: #343b80;
    color: #fff;
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: #000;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header{
    margin-left: 383px;
    width: calc(100% - 383px);
}

.side-header{
    background-color: #343b80;
}

.main-header {
    background-color: #fbfbfb;
    color: #000;
}


.avatar-card.mdl-card{
    background: linear-gradient(
        transparent,
        rgba(63,81,181,0.10), 
        rgba(63,81,181,0.70)
    ), 
    url("../img/avatar-background.jpg");
    background-size: cover;
    width: 100%;
}

.avatar-card > .avatar-letter{
    margin: auto;
    background-color: rgb(255,64,129);
    padding: 30px;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
}

.avatar-card > .avatar-card--actions > #user-name{
    color: #fff;
    font-size: 19px;
    margin: 20px;
    letter-spacing: 0.7px;
    font-variant: small-caps;
    font-family: "Roboto",sans-serif;
}

.avatar-card > .avatar-card--actions > button{
    color: #fff;
    margin: 10px;
    opacity: 0.7;
}

.avatar-card > .avatar-card--actions > button:hover{
    opacity: 1;
}

.avatar-card > .avatar-card--actions{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.no-border{
    border: none;
}

.chat-pane{
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
}

